<%= form_with(model: @doctor) do |form| %>
  <% if @doctor.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @doctor.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
  </div>

  <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
  </div>

  <div class="field">
      <%= form.label :crm %>
      <%= form.number_field :crm %>
  </div>

  <div class="field">
      <%= form.label :specialty %>
      <%= form.collection_select :specialty_id, Specialty.order(:description), :id, :description %>
  </div>

  <div class="actions">
      <%= form.submit 'Salvar' %>
  </div>
<% end %>